<br><br><strong>Listing all Playlists</strong>

<% @playlists.each do |playlist|%>
    <ul>
    <li>
        <%= playlist.title%><br>
        <%= playlist.description%>
    </li>
    </ul>
<% end %>
    